<!DOCTYPE html>
<html lang="en">
    {{template "header.tmpl.html"}}
<body>
    <div class="container">

        <h1>Sign UP</h1>
        <form action="/action_page.php">
          <label for="fname">Full name</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="lname">Address</label><br>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="lname">telephone</label><br>
          <input type="text" id="lname" name="lname"><br><br>
          <label for="lname">email</label><br>
          <input type="text" id="lname" name="lname"><br><br>
          
          <input type="submit" value="Save & Continue"> <!-- will save entries and direct to Main Profile -->
          <input type="submit" value="Cancel"> <!-- direct to Main profile -->
        </form>
    <div class="container">
    
    
    <button>
        <a href="#" onclick="signOut();">Sign out</a>
    </button>
      
      
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function onLoad() {
            gapi.load('auth2', function() {
            gapi.auth2.init();
        });
        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }
        
    }
    </script>   
</body>
</html>