<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header.tmpl.html"}}
</head>
<body>
    <p>holaaaaaaa</p>
    <button>
        <a href="#" onclick="signOut();">Sign out</a>
    </button>
      
      
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }
    </script>
    
</body>
</html>