<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

  <div class="container">

    <h1>Log in</h1>
    <form action="/action_page.php">
      <label for="fname">Username:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Password:</label><br>
      <input type="text" id="lname" name="lname"><br><br>
      <input type="submit" value="Log in">
    </form>
    <p>or</p>
    <button>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </button>
    <p></p>
    <a href="">New User Sign Up</a>
    <p></p>
    <a href="">Forgot Password</a>
  <div class="container">

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/static/google_api_handler.js"></script>
</body>
</html>